body {
    padding-top: 50px;
}

.starter-template {
    padding: 40px 15px;
    text-align: center;
}

.label a {
    color: white;
}

.label:hover a {
    text-decoration: none;
}

#toc {
    position: fixed;
    top: 80px;
    left: -20px;
    width: 150px;
}
