{{ template "chrome/header.html" . }}
{{ $baseurl := .Site.BaseUrl }}

<div class="row">
  <div class="col-md-4"><div id="toc"></div></div>

  <div class="col-md-8">
          <div class="page-header">
            <h1>{{ .Title }}</h1>
          </div>

          {{ .Content }}

          <p><small>{{ .Date.Format "Mon, Jan 2, 2006" }}</small></p>

	  {{ if .Params.tags }}
          <div class="panel panel-default">
            <div class="panel-body">
	        Tags: 
	        {{ range .Params.tags }}
                <span class="label label-primary"><a href="{{ $baseurl }}/tags/{{ . | urlize }}">{{ . }}</a></span>
	        {{ end }}
            </div>
          </div>
	  {{ end }}

	  {{ if .Params.categories }}
          <div class="panel panel-default">
            <div class="panel-body">
	        Categories:
	        {{ range .Params.categories }}
                <span class="label label-primary"><a href="{{ $baseurl }}/categories/{{ . | urlize }}">{{ . }}</a></span>
	        {{ end }}
            </div>
          </div>
	  {{ end }}

          <ul class="pager">
              {{ if .Prev }}<li class="previous"><a href="{{ .Prev.RelPermalink }}">&larr; Previous</a></li>{{ end }}
              {{ if .Next }}<li class="next"><a href="{{ .Next.RelPermalink }}">Next &rarr;</a></li>{{ end }}
          </ul>

	  {{ template "chrome/disqus.html" . }}
	  {{ template "chrome/footer.html" . }}
  </div>
</div>

<script>
  $(document).ready(function() {
         //Calls the tocify method on your HTML div.
         $("#toc").tocify({ selectors: 'h2,h3,h4,h5,h6', scrollTo: 50 });

         hljs.initHighlightingOnLoad();
  });
</script>
