body {
    padding-top: 50px;
}

.starter-template {
    padding: 40px 15px;
    text-align: center;
}

.label a {
    color: white;
}

.label:hover a {
    text-decoration: none;
}

.tocify {
    background-color: #f5f5f5;
}

.tocify a {
    color: #333;
}

.tocify-item.active  {
    background-color: #f9f2f4;
    border-top: 1px solid #c7254e;
    border-bottom: 1px solid #c7254e;
}

.tocify-item.active a {
    color: #c7254e;
}

#sidebar {
    display: none;
}

@media (min-width: 992px) {
    #sidebar {
	display: block;
    }

    .tocify {
	width: 200px;
    }
}

@media (min-width: 1200px) {
    #sidebar {
	display: block;
    }

    .tocify {
	width: 250px;
    }
}
